* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #fff;

}

/* Background image grid feel */
.hero-bg {
    position: absolute;
    inset: 0;
    background: url("../assets/backgroundimage.jpeg") center/cover no-repeat;
    filter: blur(1px);
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
}

/* Main Content */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 850px;
    margin: auto;
    align-items: center;
    padding-top: 20px;
    text-align: center;
}

.hero-content h1 {
    font-size: 72px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    letter-spacing: 2%;
    line-height: 80.4px;
}

.hero-content p {
    font-size: 20px;
    font-family: Montserrat;
    line-height: 1.7;

}

.highlight {
    display: block;
    color: #ff3b3b;
}

.hero p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #cfcfcf;
}

.cta-btn {
    margin-top: 20px;
    padding: 15px 34px;
    background-color: rgba(255, 97, 77, 1);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: rgba(255, 97, 77, 1);
}

/* Social Proof */
.social-proof {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    color: #bdbdbd;
}



.icons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;

}

/* .avatars {
    display: flex;
    gap: 15px;
} */

#trumpet {
    color: black;
    font-size: 2rem;
    display: block;

}

#stars {
    display: block;
    width: 10px;
}

.newContainer p {

    font-size: 14px;
    font-family: Montserrat;



}

.avatars img {
    width: 150px;
    height: 150px;
    border-radius: 40%;

    /* margin-left: -8px; */
    object-fit: contain;

}

.tick-link {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 1.7;
    white-space: nowrap;
    opacity: 0.9;
}

/* Featured On Strip */
.featured-strip {
    position: absolute;

    bottom: -5px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 12px 40px;
    color: #9a9a9a;
    font-size: 0.95rem;


}

.feature-strip h3 {
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    line-height: 1.7;
}

.ticker {
    overflow: hidden;
    flex: 1;

}

.ticker-track {
    display: flex;
    gap: 50px;
    width: max-content;
    animation: tickerScroll 22s linear infinite;

}



/* Ticker Animation */
@keyframes tickerScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}